<div class="btn-group">
  <button
    class="btn btn-primary dropdown-toggle"
    type="button"
    id="brandList"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ currentBrand.name }}
  </button>
  <div class="dropdown-menu" aria-labelledby="brandList">
    <button
      [routerLink]="getRouterLink()"
      (click)="setCurrentBrand({ id: 0, name: 'All Brands' })"
      [class]="getBrandClass({ id: 0, name: 'All Brands' })"
      type="button"
    >
      All Brands
    </button>
    <button
      *ngFor="let brand of brands"
      [routerLink]="getRouterLink(brand.id)"
      (click)="setCurrentBrand(brand)"
      [class]="getBrandClass(brand)"
      type="button"
    >
      {{ brand.name }}
    </button>
  </div>
</div>
