<div class="btn-group">
    <button class="btn btn-success dropdown-toggle" type="button" id="colorList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{currentColor.name}}
    </button>
    <div class="dropdown-menu" aria-labelledby="colorList">
        <button
            [routerLink]="getRouterLink()"
            (click)="setCurrentColor({id:0, name:'All Colors'})"
            [class]="getColorClass({id:0, name:'All Colors'})"
            type="button">
            All Colors
        </button>
        <button
            *ngFor="let color of colors"
            [routerLink]="getRouterLink(color.id)"
            (click)="setCurrentColor(color)"
            [class]="getColorClass(color)"
            type="button">
            {{color.name}}
        </button>
    </div>
  </div>
