<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="filter-single-tab" data-toggle="pill" href="#filter-single" role="tab" aria-controls="pills-home" aria-selected="true">Single Filter</a>
                    </li>
                    <li class="nav-item" role="presentation">
                    <a class="nav-link" id="filter-multiple-tab" data-toggle="pill" href="#filter-multiple" role="tab" aria-controls="pills-profile" aria-selected="false">Multiple Filter</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="filter-single" role="tabpanel" aria-labelledby="filter-single-tab">
                        <div class="col-lg-12 col-md-12">
                            <app-brand-list></app-brand-list>
                            <app-color-list></app-color-list>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="filter-multiple" role="tabpanel" aria-labelledby="filter-multiple-tab">
                        <div class="col-lg-12 col-md-12">
                            <app-brand-list></app-brand-list>
                            <app-color-list></app-color-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h4 class="card-title">Cars List</h4>
                                <p class="card-category">{{searchResultText}}</p>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button class="btn btn-success me-md-2" type="button">Add New</button>
                                    <button class="btn btn-primary" type="button">Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Brand</th>
                                <th>Model Name</th>
                                <th>Color</th>
                                <th>Model Year</th>
                                <th>DailyPrice</th>
                                <th>VAT Added</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr
                                routerLink = "/cars/car/{{car.carId}}"
                                 *ngFor="let car of cars | filterCar:filterText">
                                    <th scope="row">{{car.carId}}</th>
                                    <td>{{car.brandName}}</td>
                                    <td>{{car.carName}}</td>
                                    <td>{{car.colorName}}</td>
                                    <td>{{car.modelYear}}</td>
                                    <td>{{car.dailyPrice | currency}}</td>
                                    <td>{{car.dailyPrice | vatAdded:18 | currency}}</td>
                                    <td>{{car.description}}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-round" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a href="#" class="btn btn-danger btn-round" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        <a href="#" class="btn btn-warning btn-round" title="Rent"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                                    </td>
                                  </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
